.lesson  {
  background-color: hotpink
}

#paragraph-1 {
  color: rgb(246, 0, 103);
  background-color: rgb(251, 255, 249);
}

#paragraph-2 {
  color: rgb(246, 0, 103);
  background-color: lemonchiffon
}

#paragraph-3 {
    color:rgb(246, 0, 103);
    background-color: rgb(224, 154, 78)
}
